# Cache
__pycache__
*.pyc
.DS_Store

# IDE
.pylintrc
test_src*
*test.py
test*

# Env files
env
sm_bot_venv
sm_bot_env
src/sm_bot/data/csv/employers*.csv
src/sm_bot/data/json/employers*.json
.env
env

# Log files
*.log
1321312
